@using hiTommy.Models
@model hiTommy.Data.ViewModels.BrandWithShoesListViewModel
@{
    ViewData["Title"] = "Brand";

}

<div class="main-container">

    @foreach (var shoe in @Model.Shoes)
    {
        <div class="product-card">
            <a href="/Product/@(shoe.Id)" class="product-image">
                <img src="@(shoe.PictureUrl)"/>
            </a>
            <a href="/Product/@(shoe.Id)" class="product-image">
                @shoe.Name <br/>
                @($"{shoe.Price:c}")
            </a>
        </div>
    }
</div>