@model hiTommy.Data.ViewModels.EmailViewModel
@{
    ViewData["Title"] = "Contact";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/contact-page.css")" />
}


<div class="form-container">
    <form asp-action="SendEmail" method="POST">
        <h1>Contact Us!</h1>
        <h4>Having issues or general feedback? Let us know!</h4>
        <input asp-for="Name" placeholder="Your name goes here" />
        <input asp-for="Email" placeholder="Your email goes here"  />
            <select asp-for="Subject" tabindex="3">
                <option value="Price">Product Price Question</option>
                <option value="shipping">Shipping Enquires</option>
                <option value="About my Order">About my order?</option>
                <option value="Return of Order">Return Order</option>
            </select>
        <textarea asp-for="Message" placeholder="Your message goes here" ></textarea>
        <input type="submit" value="Send" name="submit" id="contact-submit" >

    </form>
</div>