@model hiTommy.Data.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Admin - Add Shoe";
}


<head>

    @section Styles{
        <link rel="stylesheet" href="@Url.Content("~/css/admin-sub.css")" />
    }

</head>


<div class="form-container" id="auto-height">
    <form asp-action="AddShoeView" id="contact" method="POST">
        <h1>Add a new shoe</h1>
        <h4>Super secret admin site</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Shoe.Name" placeholder="Shoe name goes brrr" />
        <input asp-for="Shoe.Price" placeholder="Price goes brrr" />
        <input asp-for="Shoe.Size" placeholder="Size goes brrr" />
        <input asp-for="Shoe.Quantity" placeholder="Quantity goes brrr" />
        <input asp-for="Shoe.BrandId" min="1" placeholder="BrandId goes brrr" />
        <input asp-for="Shoe.PictureUrl" placeholder="Picture link goes brrr" />
        <textarea asp-for="Shoe.Description" rows="5" cols="33" placeholder="Description goes brrr"></textarea>
        <input value="Add" type="submit" />

    </form>

    <div class="brand-list-container">
        <ul>
            @foreach (var brand in Model.Brands)
            {
                <li>Brand: @brand.Name   Id: @brand.Id </li>
            }
        </ul>
    </div>
</div>